<li>
  <div class="user"><%= link_to group.user.name, group.user %></div>
  <div class="content"><%= group.name %></div>
  <div><%= image_tag group.display_image if group.image.attached? %></div>
    
  <div><%= link_to "delete", group, method: :delete,
                        data: { confirm: "削除しますか?" } %></div>

</li>