<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  
<div>  
  <% unless user.self_introduction.nil? %>
    <%= "#{user.self_introduction.content}" %>
  <% end %>
<div>
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "削除しますか?" } %>
  <% end %>
</li>