<div id="self_introduction-<%= self_introduction.id %>">
     <%= self_introduction.content %>
     <br>
     <br>
     <% if current_user?(self_introduction.user) %>
       <%= link_to "自己紹介文削除", self_introduction, method: :delete,
                                       data: { confirm: "削除しますか?" } %>
                                 
     <% end %>
</div>