<div id="follow_form">
  <div id="have">
          
    <% if current_user.have?(information) %>
      <!--%= render 'unhave' %>  -->
      <%= render partial: 'unhave', locals: { information: information } %> 

        <% case current_users_have_information(information).recently %>
        <% when false %>
          <% unless recently_MAX? %>
            <%= link_to "最近遊んでいるゲームに登録", edit_have_information_path(id: information.id, key: "register") %>
          <% end %>  
        <% when true %>  
          <%= link_to "最近遊んでいるゲームから削除", edit_have_information_path(id: information.id, key: "remove") %> 
        <% end %>
      
    <% else %>
      <%= render partial: 'have', locals: { information: information } %>
    <% end %> 
      
      <!--% @info = information %>-->
      <!--%= form_with(model: current_user.have_informations.find_by(information_id: @info.id),-->
      <!--      html: { method: :delete }, local: false) do |f| %>-->
      <!--  %= f.submit "削除する", class: "btn btn-default" %>-->
      
      <!--%= form_with(model: current_user.have_informations.find_by(information_id: @infomation.id),-->
      <!--             html: { method: :delete }, local: false) do |f| %>-->
      <!--   %= f.submit "削除する", class: "btn btn-default" %>-->
      <!--% end %>-->
      

      <!--% @info = information %>-->
      <!--%= form_with(model: current_user.have_informations.build, local: false) do |f| %>-->
      <!--  <div>%= hidden_field_tag :information_id, @info.id %></div>-->
      <!--  %= f.submit "追加する", class: "btn btn-primary" %>-->
      <!--% end %>-->

      <!--%= form_with(model: current_user.have_informations.build, local: false) do |f| %>-->
      <!--  <div>%= hidden_field_tag :information_id, @infomation.id %></div>-->
      <!--  %= f.submit "追加する", class: "btn btn-primary" %>-->
      <!--% end %>-->
    
    
   

  
  </div>
</div>


  

