<div class="row">
  <div class="col-md-6">
    <div id="have_form">
      <% if current_user.have?(information) %>
        <!--%= render 'unhave' %>  -->
        <%= render partial: 'unhave', locals: { information: information } %>
      <% else %>
        <%= render partial: 'have', locals: { information: information } %>
      <% end %> 
    </div>
  </div>
</div>

 