<li>
  <div>  
    <%= "#{information.content}" %>

    <% case mode %>
    <% when "user" %>
        <!--%= render 'have_form' if logged_in? %>-->
      <%= render partial: 'informations/have_form', locals: { information: information } if logged_in? %>
    <% when "group" %>
      <%= render partial: 'groups/tag_form', locals: { information: information } if logged_in? %>
    <% end %>    
  <div>
</li>