<% provide(:title, 'All played') %>
<h1>プレイしたゲームを選択する</h1>

<%= will_paginate %>

  <ul class="users">

    <%= render collection: @informations, partial: 'informations/information' %>

  </ul>

<%= will_paginate %>