<li id="self_introduction-<%= self_introduction.id %>">
  <%= link_to gravatar_for(self_introduction.user, size: 50), self_introduction.user %>
  <span class="user"><%= link_to self_introduction.user.name, self_introduction.user %></span>
  <span class="content"><%= self_introduction.content %></span>
</li>